<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- bootstrap css --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {{!-- <title>Document</title> --}}
</head>
<body>
  <div class="container">
  <div class="jumbotron"> 
   {{!-- added jumbotron to have extra content or info --}}
  <h1 class="display-4">MERN BACKEND PROJECT</h1>
  <p class="lead">User Registration in MERN STACK</p>
  <hr class="my-4">
  <p>mongodb, express, react, node, nodemon, mongoose and hbs </p>
  <a class="btn btn-primary btn-lg" href="https://www.mongodb.com/cloud/atlas/lp/try4?utm_source=bing&utm_campaign=search_bs_pl_evergreen_atlas_core_prosp-brand_gic-null_apac-in_ps-all_desktop_eng_lead&utm_term=mongodb&utm_medium=cpc_paid_search&utm_ad=e&utm_ad_campaign_id=415204524&adgroup=1207264237113792&msclkid=9d4acef6eb9111f51376ad85a3787597" role="button">Mongodb</a>
</div>
</div>
</body>
</html>
